//  RDS utility classes
//  ---------------------
//
//  Table of Contents:
//
//   0. RDS version
//   1. Grid
//   2. Block utils
//   3. Icon utils
//   4. Property overrides
//   5. Centering
//   6. Misc utils
//   7. Content

// 0. RDS version
// --------------
.u-v::after {
    content: '#{ ($version)}';
}

// 1. Grid system
// --------------

// CSS Grid
// --------

.u-grid {
    display: grid;
    grid-gap: $grid-gutter;
    align-items: flex-start;
}

.u-grid--gap-l {
    grid-gap: 50px;

    @include media('>=l') {
        grid-gap: 80px;
    }
}

.u-grid--layout {
    grid-template-columns: 266px 1fr;
    padding-bottom: 3rem;
}

.u-grid--layout-right {
    grid-template-columns: 2fr 1fr;
    padding-bottom: 3rem;
}

.u-grid--gap-0 {
    gap: 0;
}
.u-grid--gap-1 {
    gap: 1rem;
}
.u-grid--gap-2 {
    gap: $grid-gutter;
}
.u-grid--gap-3 {
    gap: 3rem;
}
.u-grid--gap-4 {
    gap: 4rem;
}

.u-grid--1 {
    grid-template-columns: 1fr;
}

.u-grid--2 {
    grid-template-columns: repeat(2, 1fr);
}

.u-grid--3 {
    grid-template-columns: repeat(2, 1fr);

    @include media('>s') {
        grid-template-columns: repeat(3, 1fr);
    }
}

.u-grid--4 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;

    @include media('>s') {
        grid-template-columns: repeat(4, 1fr);
    }
}

@include media('<=s') {
    .u-grid--s1 {
        grid-template-columns: repeat(1, 1fr);
    }
}

// CSS Grid IE11 Fallback
// TODO: look into @support grid
@media screen and (-ms-high-contrast: active),
    screen and (-ms-high-contrast: none) {
    .u-grid {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -#{$grid-gutter} !important;

        & > * {
            margin-bottom: $grid-gutter;

            &:not(:last-child) {
                margin-right: $grid-gutter;
            }
        }
    }

    @include media('<=s') {
        .u-grid--2 > *,
        .u-grid--3 > *,
        .u-grid--4 > * {
            width: calc(50% - #{$grid-gutter - 15});

            &:nth-child(2n) {
                margin-right: 0 !important;
            }
        }

        .u-grid--s1 > * {
            width: 100%;
            margin-right: 0 !important;
        }
    }

    @include media('>s') {
        .u-grid--2 > * {
            width: calc(50% - #{$grid-gutter - 15});

            &:nth-child(2n) {
                margin-right: 0 !important;
            }
        }

        .u-grid--3 > * {
            width: calc(33.333333% - #{$grid-gutter - 10});

            &:nth-child(3n) {
                margin-right: 0 !important;
            }
        }

        .u-grid--4 > * {
            width: calc(25% - #{$grid-gutter - 7.5});

            &:nth-child(4n) {
                margin-right: 0 !important;
            }
        }
    }
}

// 3. Icon utils
// -------------

// 4. Property overrides
// ----------------------

//.u-link {
//	color: $link !important;
//	border-bottom: 1px solid #c8dae3;
//
//	&:hover {
//		border-bottom: 1px solid $red;
//	}
//}

.u-bg-grey {
    background-color: $grey !important;
}

.u-no-padding {
    padding: 0 !important;
}

.u-padding-top-s {
    padding-top: 20px !important;
}

.u-padding-r {
    padding-right: 20px !important;
}
.u-padding-bottom-100 {
    padding-bottom: 100% !important ;
}

.u-margin-bottom-s {
    margin-bottom: 20px !important;
}

.u-margin-top-s {
    margin-top: 20px !important;
}
.u-margin-r {
    margin-right: 20px !important;
}

// 6. Misc utils
// -------------
a.u-link,
.u-link a {
    color: $link;

    &:hover {
        color: $red;
    }
}

.u-active {
    color: $red !important;
}

.u-fixed {
    position: fixed !important;
}

.u-absolute {
    position: absolute !important;
}

.u-sticky {
    position: sticky;
    top: 0;
}

.is-hidden {
    display: none !important;
}

.is-visible {
    display: inline-block !important;
    visibility: visible !important;
    opacity: 1 !important;
}

.u-visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    position: absolute;
}

.u-font-size-20 {
    font-size: $pixel20;
}

// 7. Content
// -----------

.u-no-border {
    border: none !important;
}

// TODO look for function to replace wp"s alignleft
.u-img-left,
.alignleft {
    float: left;
    margin-right: 30px;
}

// TODO look for function to replace wp"s alignright
.u-img-right,
.alignright {
    float: right;
    margin-left: 30px;
}

.u-hide {
    opacity: 0;
    visibility: hidden;
}

//hide in dialogue only
dialog .u-hide-dialog {
    display: none !important;
}

// hide on small screens
@include media('<=s') {
    .u-hide-s:not(.u-show-s) {
        display: none !important;
    }
}

// hide on l screens
@include media('>=s') {
    .u-hide-l {
        display: none !important;
    }
}

//TODO Review below. Add more animations?

.u-ani-fadein--1000 {
    animation-name: u-ani-fadein;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

@keyframes u-ani-fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes u-ani-fadeout {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

.text-center {
    text-align: center;
}

a.link,
.link {
    &--black {
        color: $black;
        border-color: $black;

        &:hover {
            color: $red;
            border-color: $red;
        }
    }
    &--blue {
        color: $link;
        border-color: $link;

        &:hover {
            color: $red;
            border-color: $red;
        }
    }
    &--red {
        color: $red;
        border-color: $red;

        &:hover {
            color: $link;
            border-color: $link;
        }
    }

    &--noborder {
        border: none;

        &:hover {
            border: none;
        }
    }
}

.u-spacing {
    padding: 1rem;
}
.u-spacing-x {
    padding-left: 1rem;
    padding-right: 1rem;
}
.u-spacing-2x {
    padding-left: 2rem;
    padding-right: 2rem;
}
.u-spacing-y {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.u-spacing-2y {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.u-center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.u-max-width-fit {
    max-width: fit-content;
}

.u-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &--2 {
        -webkit-line-clamp: 2;
    }

    &--3 {
        -webkit-line-clamp: 3;
    }
}

.u-image {
    width: 100%;
    height: auto;
    object-fit: cover;

    &--full {
        width: 100%;
        height: 100%;
        max-width: unset;
        max-height: unset;
        object-fit: cover;
    }

    &--radius {
        border-radius: 0.5rem;
    }

    &--rounded {
        border-radius: 50%;
    }

    &--border {
        border: solid 4px $grey-yoda;
    }

    &--border-2xl {
        border-width: 8px;
    }
}

.u-text {
    font-size: 1rem;

    &--xs {
        font-size: 14px;
    }
}

//margin auto
.u-margin-auto {
    margin: auto;
}

//height full
.u-h-full {
    @include media('>s') {
        height: 100vh !important;
    }
}

//overflow scroll important
.u-o-sroll {
    overflow: scroll !important;
}

//height fix 786px

.u-h-fix {
    @include media('>s') {
        height: 786px !important;
    }
}

.u-margin-left-10 {
    margin-left: 10px;
}
