.u-block {
    padding: 30px 25px;

    @include media('>s') {
        padding: 40px 30px;
    }
}

.u-block--white {
    background-color: white;
}

.u-block--grey {
    background-color: $grey;
}

.u-block--alert {
    z-index: 1000;
    background-color: $pink;
    border-bottom: 4px solid $red;
    position: relative;
}

.u-block--border-top {
    border-top: 1px solid $grey-vader;
}

.u-block--black {
    background-color: $black;
    color: white;
}

.u-block--waves {
    background-image: url(https://cu-rds.s3.amazonaws.com/assets/svg/cu-waves.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

.u-block--panel {
    position: relative;
    background-color: white;
    max-width: 768px;
    border-radius: 10px;
    box-shadow: $ds-y;
    padding: 20px !important;
    margin-bottom: 30px;

    > header {
        border-bottom: 1px solid $grey-yoda;
        margin-left: -20px;
        margin-right: -20px;
        padding: 0 20px;
        position: relative;

        h2 {
            font-size: $pixel16;
            border: none !important;
        }

        p {
            font-size: $pixel14;
            margin-bottom: 20px;
        }

        button {
            position: absolute;
            top: 0;
            right: 20px;
        }

        span {
            position: absolute;
            left: -9999px;
        }

        svg {
            width: 20px;
        }
    }

    footer {
        border-top: 1px solid $grey-yoda;
        margin: 0 -20px;
        padding: 20px 20px 0 20px;
        display: flex;

        p {
            margin: 0;
        }

        a:not(.c-buttoncta) {
            color: $link;
            font-size: $pixel13;
            padding-right: 5px;

            + a {
                border-left: 1px solid green;
                padding-left: 10px;
            }

            &:hover {
                color: $red;
            }
        }

        a.c-buttoncta {
            flex: 1;
        }
    }

    > .b-listing > ul {
        border-top: none !important;
        border-bottom: none !important;

        //li:last-child {
        //	border-bottom: none !important;
        //}
    }
}

aside > .u-block--panel {
    padding: 14px !important;

    > header > h2 {
        padding: 0;
        margin-bottom: 12px;
    }

    footer {
        padding: 10px 20px 0 20px;
    }
}

// Block Spacing
// -------------

.u-block--white:not(.u-block--full) + .u-block--white,
.u-block--grey:not(.u-block--full) + .u-block--grey:not(.u-block--padme),
.u-block--black:not(.u-block--full) + .u-block--black {
    padding-top: 0;
}

// Utility widths
// --------------

.u-block > *,
.u-block--s > * {
    max-width: #{map-get($breakpoints, s)};
    margin-left: auto;
    margin-right: auto;
}

.u-block--l > *,
.u-block--alert > * {
    max-width: #{map-get($breakpoints, l)};
}

// Width Modifiers
// ---------------

.u-block--full {
    padding: 0 !important;

    > * {
        max-width: none;
    }
}

.u-block--wide {
    > * {
        max-width: 1200px;
    }
}

.raven-mode .u-block {
    &.u-block--white {
        background-color: $grey-anakin;
    }

    &.u-block--grey {
        background-color: $grey-vader;
    }
}
