// Small screen styling
//=====================

@include media('<=s') {
    .b-textimg {
        img {
            padding-bottom: 20px;
        }
    }
}

// > then small styles
//====================
@include media('>=s') {
    // Block
    .b-textimg {
        // Block wrapper
        .textimg__wrapper {
            position: relative;
        }
        // Additional wrapper
        section,
        .textimg__wrapper > div {
            min-height: 270px;
            padding: 0 45% 0 0; // TODO ADDED FOR GH-40
            // max-width: 50%; // TODO REMOVED FOR GH-40
            //min-width: 220px;
        }

        h2,
        h3 {
            border-bottom: 1px solid $grey-yoda;
        }
        //text-align: left;

        //font-size: $pixel28;

        // @include media('>=820px', '<=960px') {
        // 	max-width: 370px; // TODO REMOVED FOR GH-40 (not sure what it's doing)
        // 	margin: 0; // TODO REMOVED FOR GH-40 (not sure what it's doing)
        // }

        // @include media('>=720px', '<=820px') {
        // 	max-width: 335px; // TODO REMOVED FOR GH-40 (not sure what it's doing)
        // 	margin: 0; // TODO REMOVED FOR GH-40 (not sure what it's doing)
        // }

        .textimg__text {
            //margin: 0 auto;
            //text-align: left;

            @include media('>=820px', '<=960px') {
                // max-width: 370px; // TODO REMOVED FOR GH-40 (not sure what it's doing)
                //margin: 0;
            }

            @include media('>=720px', '<=820px') {
                // max-width: 335px; // TODO REMOVED FOR GH-40 (not sure what it's doing)
                //margin: 0;
            }
        }

        img {
            //margin-bottom: 20px;

            @include media('>=s') {
                position: absolute;
                top: 0;
                right: 0;
                //width: auto;
                width: 40%; // TODO ADDED FOR GH-40
                // max-width: 45%; // TODO REMOVED FOR GH-40
                max-height: 320px;
            }
        }
    } // end b-textimg

    .b-textimg--imgtext {
        & img {
            left: 0;
            right: auto;
            position: absolute;
        }

        & h2,
        h3 {
            @include media('>=l') {
                max-width: none;
            }
        }

        & section {
            padding: 0 0 0 45%; // TODO ADDED FOR GH-40
            // float: right; // TODO REMOVED FOR GH-40
        }

        &:after {
            // clear float
            content: '';
            display: table;
            clear: both;
        }
    }

    .l-col-l .b-textimg section,
    .l-col-l .b-textimg .textimg__wrapper > div {
        min-height: 320px;
        // max-width: 55%; // TODO REMOVED FOR GH-40
    }
} // end if > s

// u-block--black rules
//---------------------

.u-block--black .b-textimg {
    a {
        color: red;

        &:hover {
            color: white;
        }
    }

    h1,
    h2,
    h3 {
        border-bottom: 1px solid $grey-vader;
    }
}

// Utility text styles
//------------------
@include media('>=s') {
    .u-txt--xl.b-textimg {
        h2 {
            font-size: 45px;
        }

        p {
            font-size: 30px;
            line-height: 1.35;
        }
    }
}

// Raven Mode Styles
//------------------
// TODO review why this is here and not higher. think it was just testing
// body.raven-mode {
//     main .u-block--black {
//         background-color: black;
//         color: $grey-luke;

//         h1,
//         h2 {
//             color: $grey-yoda;
//             border-bottom: 1px solid $black;
//         }
//     }
// }
