// @import '../_core/scss/tools/_include-media';
// @import '../_core/scss/tools/_vars';

// Core RDS Components
// -------------------
@import '../../components/Accordion/Accordion.scss';
@import '../../components/Alert/Alert.scss';
@import '../../components/AlertAside/AlertAside.scss';
@import '../../components/Avatar/Avatar.scss';
@import '../../components/Badge/Badge.scss';
@import '../../components/ButtonCTA/ButtonCTA.scss';
@import '../../components/ButtonSocial/ButtonSocial.scss';
@import '../../components/Card/Card.scss';
@import '../../components/CardPeople/CardPeople.scss';
@import 'heading/heading';
@import '../../components/ImageCaption/ImageCaption.scss';
@import '../../components/MenuPopup/MenuPopup.scss';
@import '../../components/NavMenu/NavMenu.scss';
@import '../../components/SearchForm/SearchForm.scss';
@import 'table/table';
@import '../../components/Toast/Toast.scss';
@import '../../components/Video/Video.scss';
@import '../../components/NavUser/NavUser.scss';
@import '../../components/Modal//Modal.scss';
@import '../../components/Loading/Loading.scss';
