.b-avatar {
    figure {
        position: relative;
        margin: 20px 0;
        &:after {
            content: '';
            position: absolute;
            width: 25px;
            height: 1px;
            left: calc(50% - 10px);
            bottom: -10px;
            background: $red;
        }
        @include media('>s') {
            &:after {
                content: none;
            }
        }
        img {
            width: 75%;
            max-width: 200px;
            margin: 0 auto;
            border: 7px solid rgba($grey-yoda, 0.75);
            border-radius: 10px;
            @include media('>s') {
                border: 4px solid hsla(0, 0%, 93%, 0.75);
                margin: 0 auto;
                border-radius: 10px;
            }
        }

        img.image__clickable {
            cursor: pointer;
        }

        p {
            padding: 50px 30px;
            max-width: 200px;
            max-height: 200px;
            width: 75%;
            border: 3px solid $grey-yoda;
            border-radius: 10px;
            margin: 5px auto;
            text-align: center;
            font-size: 18px;
        }
        figcaption {
            margin: 5px auto;
            text-align: center;
            padding: 5px 0 10px 0;
            line-height: 1.5;
            font-size: $pixel13;
            &::first-line {
                font-weight: 600;
                font-size: $pixel15;
            }
        }
    }

    .image__round {
        img {
            border-radius: 50%;
        }
        p {
            border-radius: 50%;
            padding: 5%;
            max-width: 75%;
            max-height: 75%;
            font-size: 13px;
        }
    }
    /* // Details Content Styles */
    /* // ---------------------- */
    .details__meta {
        @include media('>s') {
            order: 1;
        }
        dl {
            display: grid;
            grid-template-columns: auto 1fr;
            font-size: $pixel14;
            @include media('>s') {
                font-size: $pixel15;
            }
            > * {
                padding: 14px 0;
            }
            + a {
                margin-top: 20px;
            }
        }
        dt {
            padding-right: 15px;
            position: relative;
            font-weight: 600;
            @include media('>s') {
                padding-right: 30px;
                font-weight: 500;
            }
            &:after {
                content: ':';
                right: 0;
                position: absolute;
                color: $grey-kenobi;
            }
        }
        dd {
            border-bottom: 1px solid $grey-yoda;
            margin-left: 15px;
            @include media('>s') {
                margin-left: 30px;
            }
        }
    }
    /* // Details Aside Styles */
    /* // ---------------------- */
    @include media('>s') {
        .details__aside {
            order: 2;
        }
    }
}
/* // Details Left Aside Styles */
/* // ---------------------- */
.details__leftside {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto;
    @include media('<=s') {
        display: block;
    }
}
