footer {
    position: relative !important;
    overflow: hidden;
}

.u-block--black + .u-block--black > .b-footerbrand {
    padding-top: 40px;
}

.b-footerbrand {
    max-width: 430px;
    margin: auto;
    padding-bottom: 140px;

    svg {
        display: block;
        margin: 0 auto 30px auto;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px auto 0 auto;
        list-style: none;
    }

    li {
        font-size: $pixel12;
        margin: 0 10px;
    }

    li a {
        color: $grey-kenobi;
        border-bottom: 1px solid $grey-emperor;
        padding-bottom: 4px;

        &:hover {
            color: white;
            border-bottom: 1px solid white;
        }
    }
}

body.raven-mode {
    footer + .u-block--black {
        background-color: #000 !important;
    }
}

.btn-toggle {
    display: block;
    height: 35px;
    width: 35px;
    margin: 35px auto;
    //line-height: 30px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid $grey-vader;
    overflow: hidden;

    svg {
        padding-top: 5px;
        margin: 0 auto;
        display: none;
    }

    .mark-ravens-dark {
        display: block;
        margin-top: 5px;
        height: 25px;
        width: 25px;
        // height: 80px;
        // width: 80px;
        height: 25px;
        width: 25px;
        transition: all 0.2s ease-in-out;
        // opacity: 1;
    }
}

.btn-toggle:hover .mark-ravens-dark {
    transform: rotate(40deg) scale(3.6) translate(4.5px, 6px);
    //   opacity: 0;
    //   margin-top: 32px;
    //   margin-left: -1px;
}

.btn-toggle::after {
    content: attr(data-text);
    color: $grey-yoda;
    position: absolute;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    font-size: 11px;
    margin-top: -2px;
}

body.raven-mode .btn-toggle::after {
    padding: 10px;
}

.btn-toggle:hover:after {
    content: 'Fly by Night';
    //   margin-top: 4px;
}
body.raven-mode .btn-toggle {
    background-color: white;
    overflow: visible;

    .mark-ravens {
        display: block;
        height: 27px;
        width: 27px;
        padding-top: 3px;
    }

    .mark-ravens-dark {
        display: none;
    }
}
body.raven-mode .btn-toggle:hover:after {
    content: 'Soar by Day';
}

body.raven-mode {
    /* halo */

    .btn-halo {
        z-index: 3;
    }

    .btn-halo:before {
        display: block;
        content: '';
        width: 50px;
        height: 2px;
        position: relative;
        bottom: -17px;
        left: -4px;
        background: transparent;
        transform: rotate(-45deg) rotatey(90deg);
        transform-origin: 22.5px 4px;
        border-left: 4px solid white;
        border-right: 4px solid white;
        transition: 0.4s;
    }
    .btn-halo:hover:before {
        transform: rotate(-45deg) rotatey(0deg);
    }
    .btn-halo:hover div {
        transform: rotatey(0deg);
    }
    .btn-halo:hover div:after {
        transform: rotate(45deg) rotatey(0deg);
    }
    .btn-halo:hover div:before {
        transform: rotate(90deg) rotatey(0deg);
    }
    .btn-halo div {
        display: block;
        width: 49px;
        height: 2px;
        position: relative;
        top: -11px;
        left: -7px;
        border-left: 4px solid white;
        border-right: 4px solid white;
        transition: 0.4s;
        transform: rotatey(90deg);
        z-index: 4;
    }
    .btn-halo div:after,
    .btn-halo div:before {
        content: '';
        transition: 0.4s;
        width: 49px;
        height: 2px;
        top: -6px;
        left: -6px;
        background: transparent;
        position: absolute;
        transform: rotate(45deg) rotatey(90deg);
        transform-origin: 22.5px 4px;
        border-left: 4px solid white;
        border-right: 4px solid white;
    }
    .btn-halo div:before {
        transform: rotate(90deg) rotatey(90deg);
        transform-origin: 22px 3px;
        top: -7px;
        left: -5px;
        width: 49px;
        border-left: 4px solid white;
        border-right: 4px solid white;
    }
}

.star {
    position: relative;
    z-index: 3;
    top: -16px;
    left: 13px;

    //   display: none;
    width: 0;
    height: 0;

    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-bottom: 1.2em;

    border-right: 0.3em solid transparent;
    border-bottom: 0.7em solid white;
    border-left: 0.3em solid transparent;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.55s ease-in-out;

    /* Controls the size of the stars. */
    font-size: 3.3px;

    &:before,
    &:after {
        content: '';

        width: 0;
        height: 0;

        position: absolute;
        top: 0.6em;
        left: -1em;

        border-right: 1em solid transparent;
        border-bottom: 0.7em solid white;
        border-left: 1em solid transparent;

        transform: rotate(-35deg);
    }

    &:after {
        transform: rotate(35deg);
    }
}

.star + .star {
    position: relative;
    z-index: 3;
    top: -29px;
    left: 18px;
    font-size: 3.9px;
    transition: opacity 0.75s ease-in-out;
}

.btn-toggle:hover .star,
.btn-toggle:hover .star:after,
.btn-toggle:hover .star:before {
    opacity: 1;
    visibility: visible;
}

body.raven-mode .star {
    display: none !important;
}

// Animated River Option
.b-footerbrand__river {
    // height: 0%;
    // width: 100%;
    position: absolute;
    bottom: -50px;
    // left: 0;
    // background: #e91c24;
}

.b-footerbrand__wave {
    // background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    background: url(https://cu-rds.s3.amazonaws.com/assets/svg/rideau.svg)
        repeat-x;

    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.b-footerbrand__wave:nth-of-type(2) {
    top: -194px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
        swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }
    50% {
        transform: translate3d(0, 5px, 0);
    }
}
