// const PulseButton = styled.button`
//   animation: ${animation};
// `

// Variable
$border-radius: 4px;
$spacing-bottom: 1rem;

.fadein {
    animation: fadein 0.5s ease-in;
}

// Container
.c-loading-container {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    padding: 0;
    // margin: 0 auto !important;
}

.c-loading-container--centered {
    margin: 0 auto !important;
}

// Title
.c-loading-title {
    display: block;
    width: 50%;
    height: 43px;
    margin-bottom: 1rem !important;
    background-color: $grey-luke;
    border-radius: $border-radius;
    opacity: 0;
    animation: pulse 1.5s ease-in-out infinite;
}

// Text
.c-loading-text {
    display: block;
    width: 50%;
    height: 1rem;
    margin-bottom: $spacing-bottom !important;
    background-color: $grey-luke;
    border-radius: $border-radius;
    opacity: 0;
    animation: pulse 1.5s ease-in-out infinite;
}

.c-loading-text:last-of-type {
    margin: 0;
}

// Image
.c-loading-image {
    display: block;
    width: 50%;
    height: 300px;
    margin-bottom: $spacing-bottom !important;
    background-color: $grey-luke;
    border-radius: $border-radius;
    opacity: 0;
    animation: pulse 1.5s ease-in-out infinite;
  }
  .c-loading-image:last-of-type {
    margin: 0;
  }

// Widths
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}
.w-100 {
    width: 100%;
}
  
// Heights
.h-100 {
    height: 100px;
}

// Animations - Pulse
@keyframes pulse {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.1;
    }
}
  
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}