.table--center {
    text-align: center;
    margin: auto;
    width: fit-content;
}

.table--maxwidth {
    width: auto;
}

.table--cell {
    width: 1%;
}

.table--cellCenter {
    text-align: center;
}
