.c-avatar {
    &--xs {
        width: 2rem;
        font-size: 0.75rem;
        letter-spacing: -2px;
    }

    &--sm {
        width: 4rem;
        font-size: 1rem;
        letter-spacing: -2px;
    }

    &--md {
        width: 6rem;
        font-size: 1.25rem;
        letter-spacing: -3px;
    }
    &--lg {
        width: 8rem;
        font-size: 1.5rem;
        letter-spacing: -3px;
    }

    &--xl {
        width: 10rem;
        font-size: 2rem;
        letter-spacing: -4px;
    }

    &--2xl {
        width: 12rem;
        font-size: 2.5rem;
        letter-spacing: -6px;
    }

    &--4xl {
        width: 14rem;
        font-size: 3.5rem;
        letter-spacing: -8px;
    }

    &__image,
    &__info {
        border: solid 4px $grey-yoda;
        overflow: hidden;
        border-radius: 0.5rem;
        background-color: $grey;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
    }
    &__image {
        object-fit: cover;
        max-width: unset;
        color: transparent; // for firfox it was showing alt text
    }

    &__caption {
        font-size: 0.8125rem;
        letter-spacing: normal;
        color: $black;
        padding: 0.5rem 0;
        margin: 0;
        text-align: center;
    }

    &--rounded {
        .c-avatar__image,
        .c-avatar__info {
            border-radius: 100%;
        }
    }

    &--no-border {
        .c-avatar__image,
        .c-avatar__info {
            border: none;
        }
    }
    &--pointer {
        cursor: pointer;
    }
}

.raven-mode .c-avatar {
    &__image,
    &__info {
        background-color: $grey-vader;
        color: white;
    }

    &__caption {
        color: white;
    }
}
