.l-overlay-modal,
.l-overlay-modal-transparent {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 90;
    background: white;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    top: 75px; // for masthead
    left: 0;
    border: 0;
    display: block;

    &::backdrop {
        background: transparent;
    }
}

.l-overlay-nav {
    top: 0px !important;
    z-index: 10000;
}

.l-overlay-modal-transparent {
    background: rgba(0, 0, 0, 0.3);
}

.extraMarginTop {
    top: 147px;
}

.l-overlay-modal--cu {
    @include media('>=s') {
        background-color: rgba(255, 255, 255, 0.95);
    }
    @include media('>=1472px') {
        top: 90px;
    }
}

.modal__menu {
    padding-bottom: 100px;
    background-color: white;
}

.raven-mode {
    .l-overlay-modal,
    .modal__menu {
        background-color: $dark-background;
    }
}
