name: Cypress Tests
on: [pull_request]
jobs:
    cypress-run:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            # Install NPM dependencies, cache them correctly
            # and run all Cypress tests
            - name: Cypress run
              uses: cypress-io/github-action@v2
              with:
                  install-command: yarn install --immutable --immutable-cache --check-cache --ignore-scripts
                  build: yarn remove cypress && yarn add cypress && yarn build:ci
                  start: yarn start:ci
                  wait-on: 'http://localhost:6006'
                  wait-on-timeout: 110
                  headless: true
